extends layout

block content
  .logo
  .dates
    #clock &nbsp;
    #date &nbsp;
    #islamic-date &nbsp;
  .table-container(role="table", aria-lable="Prayer Times")
   .flex-table.header(role="rowgroup")
    .flex-row(role="columnheader") Salah
    .flex-row(role="columnheader") Azaan
    .flex-row(role="columnheader") Iqama

   each prayer in prayers
    if prayer['name']
      .flex-table.row(role="rowgroup")
       .flex-row(role="cell")= prayer['name']
       .flex-row.first(role="cell")= prayer['azaan'][0]
         if prayer['azaan'][1]
           span.period= " " + prayer['azaan'][1]
       .flex-row(role="cell")= prayer['iqama'][0]
         span.period= " " + prayer['iqama'][1]